@page
@model BPCalculator.Pages.BloodPressureModel

@{
    ViewData["Title"] = "BP Category Calculator";
}


<h4>BP Category Calculator</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" id="form1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BP.Systolic" class="control-label"></label>
                <input asp-for="BP.Systolic" class="form-control" onchange="this.form.submit()" />
                <span asp-validation-for="BP.Systolic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BP.Diastolic" class="control-label"></label>
                <input asp-for="BP.Diastolic" class="form-control" onchange="this.form.submit()" />
                <span asp-validation-for="BP.Diastolic" class="text-danger"></span>
            </div>
            @if (ViewData.ModelState.IsValid)
            {
            <div class="form-group" id="BP_Category">
                @Html.DisplayFor(model => model.BP.Category, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <!-- new feature - User Story: As a BPCalculator user, I would like a clickable link that provides medical advice via web search results based on my medical condition -->
            <div class="form-group" >
                <em class='fas fa-stethoscope' style='font-size:16px;'></em>&nbsp;<a href="https://www.google.ie/search?q=WebMD+@Html.DisplayFor(model => model.BP.Category)" target="_blank">Search WebMD for details on @Html.DisplayFor(model => model.BP.Category)</a>
            </div>
            }
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
